<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Album test task{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('build/app.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
